<h1>Sign up!</h1>

<%= form_for @guest do |f| %>
<div class="field">
	<%= f.label :first_name %><br />
	<%= f.text_field :first_name %>
</div>

<div class="field">
	 <%= f.label :last_name %><br />
	 <%= f.text_field :last_name %><br />
</div>

<div class="field">
	 <%= f.label :email %><br />
	 <%= f.text_field :email %><br />
</div>

<div class="field">
	<%= f.label :telephone %><br />
	<%= f.telephone_field :telephone %>
</div>

<div class="field">
	<%= f.label :password %><br />
	<%= f.password_field :password %>
</div>

<div class="field">
	<%= f.label :password_confirmation  %><br />
	<%= f.password_field :password_confirmation %>
</div>

<div class="actions"><%= f.submit %></div>

<% end %>
