<h2>Reservations</h2>
<% current_guest.reservations.each do |r| %>
	<strong><%= r.restaurant.name %></strong><br />
	<em><%= r.restaurant.address %></em><br /><br />
	<strong>Guest Name: </strong><%= r.guest.first_name %> <%= r.guest.last_name %><br />
	<strong>Date & Time: </strong><%= r.time %><br />
	<strong>Number of Guests:</strong> <%= r.number_of_guests %>
<% end %>