<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <br><br><h2>You have <%= pluralize(@restaurant.errors.count, "error") %>.</h2><br />
      	<h4>This restaurant cannot be saved because:</h4>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <% end %>

<%= form_for(@restaurant) do |f| %>

<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>

<div class="field">
	<%= f.label :url %><br />
	<%= f.text_field :url %>
</div>

<div class="field">
	<%= f.label :address %><br />
	<%= f.text_field :address %>
</div>

<div class="field">
	<%= f.label :category %><br />
	<%= f.text_field :category %>
</div>

<div class="field">
	<%= f.label :summary %><br />
	<%= f.text_area :summary %>
</div>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>