<div class="wrap">
	<h1>Seat Yourself</h1>


	<% @restaurants.each do |restaurant| %>
	<div class="box">

		<div style="float: left">
			<img src="<%= restaurant[:url] %>" style="height: 75px; margin-right: 15px; border: 2px solid black"/>
		</div>

		<div>
			<%= link_to restaurant[:name], "/restaurants/#{restaurant.id}" %></br>
			<%= restaurant[:address] %></br>
			<em>Category: <%= restaurant[:category] %></em></br>
			<%= restaurant[:summary][0..50] %>...<%= link_to "[see more]", "/restaurants/#{restaurant.id}" %></br>
		</div>

	</div>



<% end %>
</div>