<strong><%= @restaurant[:name] %></strong>
	<button><%= link_to "Edit Restaurant", edit_restaurant_path %></button>  |  <button> <%= link_to "Back to Restaurants", restaurants_path %></button></br>

<p><section>
  		<strong>Address: </strong><%= @restaurant[:address] %><br />
  		<em><strong>Category: </strong><%= @restaurant[:category] %></em><br />
  		<strong>Summary: </strong><%= @restaurant[:summary] %><br />
</section></p>

<% if current_guest %>
<div class="reservation">
	<h3> Reservations</h3>
	<%= form_for([@restaurant, @reservation]) do |f| %>
		<div class="field">
			<%= f.label "Reservation date" %><br />
			<%= f.datetime_select :time, order: [:month, :day, :year] %>
		</div><br />

		<div class="field">
			<%= f.label :number_of_guests %><br />
			<%= f.number_field :number_of_guests %>
		</div><br />

		<div class"actions">
			<%= f.submit %>
		</div>

	<% end %>
	<% end %>