<br>
<strong><h3><%= @restaurant[:name] %></h3></strong><button><%= link_to "Edit Restaurant", edit_restaurant_path %></button>  |  <button> <%= link_to "Back to Restaurants", restaurants_path %></button></br>
<br>

<div class="border">
</br>
<img src="<%= @restaurant[:url] %>"/><br />



<p><section>
  		<strong>Address: </strong><%= @restaurant[:address] %><br><br>
  		<em><strong>Category: </strong><%= @restaurant[:category] %></em><br><br>
  		<strong>Summary: </strong><%= @restaurant[:summary] %><br><br>
</section></p>

<% if current_guest %>


<div class="reservation">
	<h3>Reservations</h3></div><br>
	<%= form_for([@restaurant, @reservation]) do |f| %>
		<div class="field">
			<%= f.label "Reservation date" %><br />
			<%= f.select :time, @restaurant.time_slots.map{ |dt| [nice_datetime(dt), dt] } %>
		</div><br />

		<div class="field">
			<%= f.label :number_of_guests %><br />
			<%= f.number_field :number_of_guests %>
		</div><br />

		<div class"actions">
			<%= f.submit %>
		</div>

	<% end %>



	<% end %>