<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="guestinfo">
	<% if current_guest %>
	Signed in as <%= current_guest.first_name.capitalize %> | <%= link_to "My Profile", guest_path(current_guest) %> | <%= link_to "Log out", session_path("current"), :method => :delete %></br>
  	<% else %>
  		<%= link_to "Log in", new_session_path %>	or <%= link_to "Sign up", new_guest_path %>
  	<% end %>
  </div>



<%= yield %>

 <%= params %>

</body>
</html>
